<footer class="bg-black text-gray-400 py-8">
    <!-- Social Links -->
    <div class="flex justify-center space-x-6 mb-8">
      <h3 class="text-white mr-4">Follow IMDb on social</h3>
      <a href="#" class="hover:text-white"><i class="fab fa-tiktok"></i></a>
      <a href="#" class="hover:text-white"><i class="fab fa-instagram"></i></a>
      <a href="#" class="hover:text-white"><i class="fab fa-x-twitter"></i></a>
      <a href="#" class="hover:text-white"><i class="fab fa-youtube"></i></a>
      <a href="#" class="hover:text-white"><i class="fab fa-facebook"></i></a>
    </div>
   
    <!-- App Download -->
    <div class="flex justify-center items-center space-x-4 mb-8">
      <div>
        <h3 class="text-white">Get the IMDb app</h3>
        <p class="text-sm">for android and iOS</p>
      </div>
      <img src="assets/logo/qr-code.png" alt="QR Code" class="h-20 w-20">
    </div>
   
    <!-- Links -->
    <div class="flex justify-center space-x-6 mb-4">
      <a href="#" class="hover:text-white">Help</a>
      <a href="#" class="hover:text-white">Site Index</a>
      <a href="#" class="hover:text-white">IMDbPro</a>
      <a href="#" class="hover:text-white">BoxOffice Mojo</a>
      <a href="#" class="hover:text-white">License IMDb Data</a>
    </div>
   
    <div class="flex justify-center space-x-6 mb-8">
      <a href="#" class="hover:text-white">Press Room</a>
      <a href="#" class="hover:text-white">Advertising</a>
      <a href="#" class="hover:text-white">Jobs</a>
      <a href="#" class="hover:text-white">Conditions of Use</a>
      <a href="#" class="hover:text-white">Privacy Policy</a>
      <a href="#" class="hover:text-white">Your Ads Privacy Choices</a>
    </div>
   
    <!-- Amazon Logo -->
    <div class="text-center mb-4">
      <img src="assets/logo/amazon.png" alt="an amazon company" class="h-6 mx-auto">
    </div>
   
    <!-- Copyright -->
    <div class="text-center text-sm">
      <p>© 1990-2024 by IMDb.com, Inc.</p>
    </div>
   </footer>